<p-menubar [model]="menuItems()">
  <ng-template #start>
    <div class="laser-container">
      <div class="laser">
        <span>LASER</span>
        <span class="laser-color">COLOR</span>
        <span class="laser-veloz">VELOZ</span>
      </div>
    </div>
  </ng-template>
  <ng-template #item let-item let-root="root">
    @if (item.visible) {
    <p-toggleButton
      [onLabel]="item.label"
      [offLabel]="item.label"
      [onIcon]="item.icon"
      [offIcon]="item.icon"
      [ngModel]="router.url === item.routerLink"
      (ngModelChange)="onMenuItemToggle(item.routerLink!)"
    />
    }
  </ng-template>
  <ng-template #end>
    <div class="flex items-center">
      <p-avatar
        icon="pi pi-user"
        class="mr-2"
        style="background-color: #ece9fc; color: #2a1261"
        shape="circle"
      />
      <span class="text-xl font-bold mr-3">{{ getUserData() }}</span>
      <div class="flex items-center">
        <p-button label="Salir" icon="pi pi-sign-out" class="" (click)="logoutUser()" />
      </div>
    </div>
  </ng-template>
</p-menubar>
